/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* removes bullet points from list of facts */
.facts {
    list-style-type: none;
}
body 
{
    background-color: #aad4cf;
    margin: 0%;
}

header {
    position: relative;
    
}

header div img{
    width: 100%;
}


h1 {
    color: white;
    font-size: 60px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-20%);
    margin: 0%;
    

}


header div {
    width: 100%;
}

/* div.image {
    background-image: url("images/lone-starfish-wide.jpg");
    background-size: cover;
    background-position: center center;
} */

/* ul li {
    list-style: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;  

}
nav{
    display:inline-block
}

a {
    
    width: 120px;
    height: 40px;
} */

nav li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;


    
  }

  ul {
    text-align: center;
    padding: 0%;
    margin: 0%;

  }


  a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 320px;
    height: 40px; 
    text-align: center;
}

nav ul li:nth-child(2){
    border: solid 1px black;
    border-bottom: none;
    border-top: none;
    
}

article.container {
    width: 100%;
    margin: 3%;

}
article img{
        width: 270px;
        float: left;
        margin-right: 2%;
    }

p {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    

}

h2,h3 {
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;

}

dl {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 20px;

}

nav ul {
    width: 100%;
    margin: 3;
    display: flex;
}

form {
    border: solid 3px black;
    padding-top: 2%;
}

label{
   margin: 2%;
}

input, textarea { 
    margin: 0.5% 2% 2% 2%;
    width: 96%;
}

#radioinline label, #radioline input  {
    margin: 0%;


}

#radioinline {
    width: auto;

}



